{% extends 'base.html.twig' %}

{% block title %}New Calendar{% endblock %}

{% block body %}
<div id="bodyCalendar">
    {{ include('calendar/_form.html.twig') }}

    <a href="{{ path('app_calendar_index') }}">back to list</a>
</div>
{% endblock %}
