{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<div id="mainbodyBlock">
    <div id="cardmain1" class="card" style="width: 18rem;">
        <a href="{{path('familia')}}">
            <img src="/img/reloj.jpg" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
            <p class="card-text">Familia</p>
        </div>
    </div>

    <div id="cardmain2" class="card" style="width: 18rem;">
        <a href="{{path('plantilla')}}">
            <img src="/img/calendario.jpg" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
            <p class="card-text">Plantilla</p>
        </div>
    </div>
</div>
{% endblock %}
