{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <div class="card" style="width: 18rem;">
        <a href="{{path('familia')}}">
            <img src="..." class="card-img-top" alt="...">
        </a>
        <div class="card-body">
            <p class="card-text">Familia</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <a href="{{path('plantilla')}}">
            <img src="..." class="card-img-top" alt="...">
        </a>
        <div class="card-body">
            <p class="card-text">Plantilla</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <a href="{{path('alumnado')}}">
            <img src="..." class="card-img-top" alt="...">
        </a>
        <div class="card-body">
            <p class="card-text">Alumnado</p>
        </div>
    </div>

{% endblock %}
