{% extends 'base.html.twig' %}

{% block title %}Plantilla{% endblock %}

{% block body %}
    <div class="card" style="width: 18rem;">
        <a href="{{path('aniadir_citas')}}">
            <img src="..." class="card-img-top" alt="...">
        </a>
        <div class="card-body">
            <p class="card-text">Añadir citas</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <a href="{{path('misCitas')}}">
            <img src="..." class="card-img-top" alt="...">
        </a>
        <div class="card-body">
            <p class="card-text">Mis citas</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <a href="{{path('addUser')}}">
            <img src="..." class="card-img-top" alt="...">
        </a>
        <div class="card-body">
            <p class="card-text">Crear un usuario admin</p>
        </div>
    </div>

    <a href="/" class="btn btn-primary">⏪</a>
{% endblock %}