body{
    width: 100vw;
    height: 100vh;
}

#mainbodyBlock{
    height: calc(100vh - 24.045407636738908vh);
    display: grid;
    grid-template-areas: 
        ". cardmain1 cardmain2";
    align-content: center;
}


#cardmain1{
    grid-area: cardmain1;
    height: 255px;
}

#cardmain2{
    grid-area: cardmain2;
    height: 255px;
}
