{% extends 'base.html.twig' %}

{% block title %}Tutores{% endblock %}

{% block body %}

    {# {% for tutor in tutores %}
    <div class="card" style="width: 18rem;">
        <a href="{{path('aniadir_citas')}}">
            <img src="..." class="card-img-top" alt="...">
        </a>
        <div class="card-body">
            <p class="card-text">{{tutor.user.username}}</p>
        </div>
    </div>
    {% endfor %} #}


    {{ form(form) }}
    
{% endblock %}