{% extends 'base.html.twig' %}

{% block title %}Hello FamiliaController!{% endblock %}

{% block body %}

	<h1>Reservas</h1>
	<ul>
		{% if citas is empty %}
			No se han encontrado reservas
		{% else %}
			<ul>
				{% for cita in citas %}
					{% if cita.User.username %}
						<il>
							{{ cita.fecha |date('Y-m-d')}}
							{{ cita.hora |date('H:i:s')}}
							<a href="/anular">Anular</a>
						</il>
						<br>
					{% endif %}
				{% endfor %}
			</ul>
			{% include 'familia/menu.html.twig' %}
		{% endif %}
{% endblock %}