<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="/public/svg/logoPlanesSinFondo.svg">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% if form is defined and form %}
	        {% form_theme form 'bootstrap_5_layout.html.twig' %}
        {% endif %}

        {% block stylesheets %}
            <link href="/css/base.css" rel="stylesheet" type="text/css">
            <link href="/css/calendar.css" rel="stylesheet" type="text/css">
            <link href="/css/calendario.css" rel="stylesheet" type="text/css">
            <link href="/css/cards.css" rel="stylesheet" type="text/css">
            <link href="/css/family.css" rel="stylesheet" type="text/css">
            <link href="/css/login.css" rel="stylesheet" type="text/css">
            <link href="/css/main.css" rel="stylesheet" type="text/css">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css" integrity="sha256-5veQuRbWaECuYxwap/IOE/DAwNxgm4ikX7nrgsqYp88=" crossorigin="anonymous">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css' rel='stylesheet'>
        {% endblock %}
    </head>
    <body>
        {% block menu %}
            <nav class="navbar navbar-dark navbar-expand">
                <div class="container-fluid">
                    <a href="https://www.iesjoseplanes.es/" target="_blank">
                        <img id="icon" src="/svg/logoPlanesSinFondo.svg">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav ms-auto">
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                {% if (hide_user_nav is defined) %}
                                    <a class="nav-link" href="{{ path('app_logout')}}">Cerrar sesión</a>
                                {% endif %}
                                <a class="nav-link" href="{{ path('app_logout') }}">Cerrar sesión</a>
                            {% else %}
                                <a class="nav-link" href="{{ path('app_login') }}">Iniciar sesión</a>
                                <a class="nav-link" href="{{ path('app_register') }}">Registrar</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        {% endblock %}

        {% block body %}
        {% endblock %}

        {% block footer %}
            <footer class="footer-distributed">
                <div class="footer-left">
                    <p class="footer-links">
                        <a href="/">Home</a>
                    </p>

                    <p class="footer-company-name">© 2022 Eduonix Learning Solutions Pvt. Ltd.</p>
                </div>
                <div class="footer-center">
                    <div>
                        <i class="fa fa-phone"></i>
                        <p>+91 22-27782183</p>
                    </div>
                    <div>
                        <i class="fa fa-envelope"></i>
                        <p><a href="https://mail.google.com/mail/?ui=2&view=cm&fs=1&tf=1&to=secretaria.iesjoseplanes@gmail.com&body=Pregunte%20su%20duda">secretaria.iesjoseplanes@gmail.com</a></p>
                    </div>
                </div>
                <div class="footer-right">
                    <div class="footer-icons">
                        <a href="https://www.facebook.com/IesJosePlanes"><i class="fa fa-facebook"></i></a>
                        <a href="https://twitter.com/iesjoseplanes"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.instagram.com/ies.joseplanes_oficial"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </footer>
        {% endblock %}

        {% block javascripts %}
            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
            <script src="/public/javascripts/sweetalert2.all.min.js"></script>
        {% endblock %}
    </body>
</html>

